body {
    background-color: #040e14;
    font-family: 'Varela Round', sans-serif;
    color: #f8f1e9;
}

#left{
  float: left;
}


.container-fluid{
  width: 45%;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #000508;
}

#buy{
  text-align: right;

}
