body {
    margin: 30px;
    background-color: #040e14;
    font-family: 'Varela Round', sans-serif;
    color: #f8f1e9;
}

.background {
  background-image: url("worldmapsolid.png");
}


#left{
  float: left;
}


.container-fluid{
  width: 45%;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #000508;
}

#buy{
  text-align: right;

}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: #f8f1e9;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: #f8f1e9;
}

.c3-axis-y text {
   fill: #f8f1e9;
   font-family: 'Varela Round', sans-serif;
   font-size:12px;
}
.c3-axis-x text {
    font-family: 'Varela Round', sans-serif;
    font-size:12px;
    fill:#f8f1e9;
}

.c3-legend-item text {
  fill: #f8f1e9;
  font-family: 'Varela Round', sans-serif;
}

.c3-tooltip td {
font-size:13px;
color: #f8f1e9;
font-family: 'Varela Round', sans-serif;
padding: 3px 6px;
background-color:#040e14;
}
