body {
    background-color: #040e14;
    font-family: 'Varela Round', sans-serif;
    color: #f8f1e9;
}

.c3-axis-y text {
   fill: white;
   font-size:12px;
}
.c3-axis-x text {
    font-size:12px;
    fill:white;
}

.c3-legend-item text {
  fill: white;
}



.nav-inverse{
  background-color:#2a3435;
}
